Body{
    font-family:'Times New Roman', Arial, Helvetica, sans-serif;
    background-color: grey;
    background: url();
}

#slider{
  overflow: hidden;
  height: 400px;
  box-shadow: -0.1px -0.1px 6px 6px grey;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0px;
  left: 0px;
  animation: 20s slider infinite;
}

#slider figure img {
  float: left;
  width: 20%;
} 

@keyframes slider{
  0% {
      left: 0%;
  }
  20% {
      left: 0%;
  }
  25% {
      left: -100%;
  }
  45% {
      left: -100%;
  }
  50% {
      left: -200%;
  }
  70% {
      left: -200%;
  }
  75% {
      left: -300%;
  }
  95% {
      left: -300%;
  }
  100% {
      left: -400%;
  }

}

.mission{
  margin-top:450px;
  display: grid;
  background-color: white;
  column-gap: 5px;
  grid-template-columns: repeat(2,1fr);

}
.mission-item{
  font-size: 20px;
  background-color: red;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  
  padding:50px;
  
}
.workinghours-item{
  padding:70px;
 
}


.mycontainer{
    background-color: white;
    color:  rgb(82, 80, 80);
    width:auto;
    height: auto;
    padding: 2px;

   
}
#footer{

    background-color: rgb(41, 39, 39);
    color:  rgb(136, 133, 133);
    width:100vw;
    height: auto;
    padding: 2px;
    
    margin-left: 0;
    margin-right:0;
    
}

#logoimg{
    
    width: 150px;
    height: 140px;
    float: left;
    padding: 1px;
    align-items: center;
    margin-top: 3px;
    border-radius: 50%;

}
.centerit{
display: block;
margin-left: auto;
margin-right: auto;
width: 15%;
}
.smallnavimg{
    width: 40px;
    height: 40px;
   
   /* padding: 1px;
    margin-left: 0px;
    margin-top: 3px;*/
    border-radius: 50%;
}
.myinput{
    color: grey;
    padding: 10px;
    float: right;
    border: 1px solid rgb(55, 143, 116);
    height: 20px;
    margin-top: 40px;
    margin-right:50px;
    font-size: 18px;
    border-radius: 10px;
}
.myheader{
     padding: 0.5rem 1rem;
     
    position: relative;
    background: rgb(55, 143, 116);
    color:  rgb(82, 80, 80);
   
    height: 150px;
    padding: 2px;
    float: center;
    margin-left: 0;
    margin-right: 0;
    align-self: center;
}
.search {
   color: green;
    padding: 20px;
    float: right;
    border: 1px solid rgb(55, 143, 116);
    height: 20px;
    margin-top: 30px;
    margin-right:50px;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
}
.btn{
    margin-right: -240px;
    margin-top: 50px;
    float: right;
    font-size: 12px;
    padding: 12px;
    height: 20px;
    border: 0px;
    border-left: 1px solid grey;
  
    padding-top: 4px;
    background-color: white;

}

.navbar-nav{
    
}

.navbar {
    position: fixed;
  /*background:#6ab446;*/
  background: rgb(55, 143, 116)
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: black;
}
.navbar-collapse {
  justify-content: flex-end;
}
.nav-item:hover {
    background-color:transparent;
    font-weight:bold;}
    
