Body{
    font-family:'Times New Roman', Arial, Helvetica, sans-serif;
    background-color: grey;
    background: url();
}
/*---------slider---------*/
#slider{
  overflow: hidden;
  height: 450px;
  box-shadow: 0px 0px 5px 0px grey;
  margin-top: 30px;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0px;
  left: 0px;
  animation: ease-in 30s slider infinite;
}

#slider figure img {
  float: left;
  height: 450px;
  width: 20%;
} 

#slider figure div {
  float: left;
  height: 450px;
  width: 20%;
  color: grey;
}
.slide-aler1{
  font-size: 15px;
  margin: 0px;
  padding: 50px;
  text-align: center;
  background-image: url(images/pic3.jpg);
  background-size: cover;
  height: 450px;
}
.slide-aler2{
  font-size: 15px;
  margin: 0px;
  padding: 50px;
  text-align: center;
  background-image: url(images/pic4.jpg);
  background-size: cover;
}
.slide-aler3{
  font-size: 15px;
  margin: 0px;
  padding: 50px;
  text-align: center;
  background-image: url(images/pic3.jpg);
  background-size: cover;
}
.slide-aler4{
  font-size: 15px;
  margin: 0px;
  padding: 50px;
  text-align: center;
  background-image: url(images/pic4.jpg);
  background-size: cover;
}
.slide-aler5{
  font-size: 15px;
  margin: 0px;
  padding: 50px;
  text-align: center;
  background-image: url(images/pic3.jpg);
  background-size: cover;
}
.caption-name{
float: center;
width: 500px;
text-align: center;
background-color: rgb(231, 40, 40);
font-size: 40px;
color: rgb(250, 249, 249);
height: 50px;
margin-left: auto;
margin-right: auto;
padding: 0px;
border-radius: 30px;
text-transform: uppercase;
}

@keyframes slider{
  0% {
      left: 0%;
  }
  20% {
      left: 0%;
  }x  
  25% {
      left: -100%;
  }
  45% {
      left: -100%;
  }
  50% {
      left: -200%;
  }
  70% {
      left: -200%;
  }
  75% {
      left: -300%;
  }
  95% {
      left: -300%;
  }
  100% {
      left: -400%;
  }

}

<<<<<<< HEAD
#missionvisioncontainer{
  /* margin-top: 10px;
  box-shadow: -0.1px 0px 5px 0px rgb(206, 202, 202);
  display: grid;
=======
.mission{
  margin-top: 40px;
  box-shadow: -5px -5px 15px 15px #eee;  display: grid;
>>>>>>> 69e8adb4307050896e5d52751b695897c91a18f8
  background-color: white;
  
  grid-template-columns: repeat(2,1fr); */
 column-gap: 20px;

}
.map-box-shadow{
  box-shadow: inset -0.1px 0px 5px 0px rgb(206, 202, 202);
}
#mission{
  font-size: 20px;
  background-color: rgb(231, 40, 40);
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  
  padding:50px; 

}
#vision{
    font-size: 20px;
  background-color: red;
  font-family:Arial, Helvetica, sans-serif;

  color: white;
  
  padding:50px;
}

#workinghours-item{
  padding:70px;
 
}
.main-container{
  margin-left: auto;
  margin-right: auto;
}

.mycontainer{
    background-color: white;
    color:  rgb(82, 80, 80);
    width:auto;
    height: auto;
    padding: 2px;

   
}
#footer{

    background-color: rgb(41, 39, 39);
    color:  rgb(136, 133, 133);
    width:100vw;
    height: auto;
    padding: 2px;
    
    margin-left: 0;
    margin-right:0;
    
}

#logoimg{
    
    width: 150px;
    height: 140px;
    float: left;
    padding: 1px;
    align-items: center;
    margin-top: 3px;
    border-radius: 50%;

}
.centerit{
display: block;
margin-left: auto;
margin-right: auto;
width: 15%;
}
.smallnavimg{
    width: 40px;
    height: 40px;
   
   /* padding: 1px;
    margin-left: 0px;
    margin-top: 3px;*/
    border-radius: 50%;
}
input{  
    color: grey;
    border-radius: 10px;
    border: 1px solid rgb(55, 143, 116);


}
#myinput{
    color: grey;
    padding: 10px;
    float: right;
      height: 20px;
    margin-top: 40px;
    margin-right:50px;
    font-size: 18px;
  
}
.myheader{
     padding: 0.5rem 1rem;
     
    position: relative;
    background: rgb(55, 143, 116);
    color:  rgb(82, 80, 80);
   
    height: 150px;
    padding: 2px;
    float: center;
    margin-left: 0;
    margin-right: 0;
    align-self: center;
}
.text-input{
  outline: none;
  color: grey;
  padding: 4px;
  padding-right: 5px;
  float: right;
  border: 1px solid #eee;
  width: 150px;
  height: 35px;
  margin-top: 40px;
  margin-right: 95px;
  font-size: 15px;
  border-radius: 20px 0 0 20px;
  box-shadow:1px 1px 1px 1px #e5e5e5;
  border-right: 0px; 
}
.text-input:hover{
  padding: 3px;
  background-color: white;
  box-shadow: white;
  border: 2px solid rgb(15, 196, 228);
}

#header{
  
  background-color: rgb(55, 143, 116);
  width: 1350px;
  height: 150px;
  padding: 2px;
  float: left;
  margin-left: auto;
  margin-right:auto;
  margin-top: -150px;
  position: fixed;
}
.search-icon {
  color: white;
  padding: 5px;
  height: 35px;
  margin-top: 40px;
  margin-right: -195px;
  background-color: white;
  cursor: pointer;
  float: right;
  font-size: 15px;
  border: 1px solid #eee;
  border-radius:0 50% 50% 0;
  box-shadow:0px 1px 1px 1px #e5e5e5;
  outline: none;
  border-left: 0px;
  position: relative;

}
.search-icon:hover{
  background-color: white;
  padding: 5px;
  box-shadow:1px rgb(15, 196, 228);
  border: 2px solid rgb(15, 196, 228);
}



.navbar {
    position: fixed;
  /*background:#6ab446;*/
  background: rgb(55, 143, 116)
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: black;
}
.navbar-collapse {
  justify-content: flex-end;
}
.nav-item:hover {
    background-color:transparent;
    font-weight:bold;}
    
